pyrofork==2.3.45
tgcrypto
pymongo>=4.12
motor>=3.7.0
marshmallow==3.26.1
umongo==3.1.0
pytz
git+https://github.com/Joelkb/cinemagoer
shortzy
requests
aiohttp
aiofiles
speedtest-cli
fuzzywuzzy
python-Levenshtein
dnspython
uvloop
